__pycache__
*.egg-info
dickens/
book.txt
lightrag-dev/
.idea/
dist/
rag_indices/
scripts_openai_Chat_&_Indexing/rag_indices/
scripts_ollama-Chat_&_openai-Indexing/rag_indices/
.env
lib/
adapted_prompts/