# lightrag
accelerate
aioboto3
graspologic
hnswlib
nano-vectordb
networkx
ollama
openai
tenacity
tiktoken
torch
transformers
xxhash
pyvis
aiohttp

# pdf processing
PyMuPDF
pytesseract
Pillow
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz
typing-extensions

# optional
python-dotenv